body
{
	margin: 0;
	padding: 0;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 280px;
	height: 470px;
	padding: 50px 40px;
	box-sizing: border-box;
	background: #4C64E8;
	border-radius: 10px;
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
	color: #ffffff;
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #ffffff;
	text-align: center;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 14px;
	background: #4C64E8;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #4C5BB9;
	color: #ffffff;
}
.loginBox a
{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
