{% extends 'alocar/basealocar.html' %}  {% block salaturma %}
<nav class="navbar navbar-dark primary-color justify-content-between">
    <div class="position-absolute float-left">
        <a class="navbar-brand float-left" href="#"><strong>Lista de Salas</strong></a>
    </div>

    <div>
        <form class="form-inline my-1">
            <div class="md-form form-sm my-0">
                <input type="text" class="form-control form-control-sm mb-0" id="varios" name="varios" placeholder="Pesquisar Alocações" aria-label="Pesquisar Salas">
            </div>
            <button class="btn btn-outline-white my-0" type="submit">Pesquisar Salas</button>
        </form>
    </div>
    <div class="float-right">
        <a class="btn btn-outline-white my-0" href="{% url 'alocar:addbloco' %}">Cadastrar Bloco</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
            {% block messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %} {% endblock messages %}
            <table class="table table-hover table-sm">
                <thead class="primary-color white-text">
                    <tr class="table-active">
                        <th>
                            BLOCO
                        </th>
                        <th>
                            SALA
                        </th>
                        <th style="width: 80px; text-align: center">
                            CAPACIDADE
                        </th>
                        <th style="width: 50px; text-align: center">
                            COMPUTADOR
                        </th>
                        <th style="width: 50px; text-align: center">
                            PROJETOR
                        </th>
                        <th style="width: 50px; text-align: center">
                            INTERNET
                        </th>
                        <th style="width: 50px; text-align: center">
                            EDITAR
                        </th>
                        <th style="width: 50px; text-align: center">
                            APAGAR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for sala in salapage %}
                    <tr>
                        <td>
                            {{sala.bloco}}
                        </td>
                        <td>
                            {{sala.sala}}
                        </td>
                        <td style="text-align: center">
                            {{sala.capmaxima}}
                        </td>

                        <td style="text-align: center">
                            {% if sala.computador %}
                            <i class="glyphicon glyphicon-ok-circle " style="color:green;"></i> {% else %}
                            <i class="glyphicon glyphicon-remove-circle " style="color:red;"></i> {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if sala.projetor %}
                            <i class="glyphicon glyphicon-ok-circle " style="color:green;"></i> {% else %}
                            <i class="glyphicon glyphicon-remove-circle " style="color:red;"></i> {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if sala.internet %}
                            <i class="glyphicon glyphicon-ok-circle " style="color:green;"></i> {% else %}
                            <i class="glyphicon glyphicon-remove-circle " style="color:red;"></i> {% endif %}
                        </td>
                        <td style="text-align: center">
                            <a href="#">
                                <a href="{% url 'alocar:altsala' sala.id %}">
                                    <i class="fas fa-edit" style="color:blue;"></i>
                                </a>
                        </td>
                        <td style="text-align: center">
                            <a href="{% url 'alocar:delsala' sala.id %}">
                                <i class="fas fa-trash" style="color:red;"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="Page navigation">
                <ul class="pagination pagination-lg justify-content-center">

                    {% if salapage.has_previous %}
                    <li class="page-item text-primary">
                        <a class="page-link text-primary" href="?page={{ salapage.previous_page_number }}" aria-label="Anterior">

                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>
                    {% endif %} {% if salapage.paginator.num_pages %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ salapage.number }}"> 
                            {{ salapage.number }} de {{ salapage.paginator.num_pages }}
        
                        <span class="sr-only">(current)</span>
                        
                    </a>
                    </li>
                    {% endif %} {% if salapage.has_next %}
                    <li class="page-item text-primary">
                        <a class="page-link text-primary" href="?page={{ salapage.next_page_number }}" aria-label="Próximo">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </div>

        <div class="col-sm-2">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <fieldset>
                    <table>
                        <tr>
                            <th>{{ form.bloco.label_tag }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.bloco }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.bloco.errors }}</th>
                        </tr>

                        <tr>
                            <th>{{ form.sala.label_tag }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.sala }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.sala.errors }}</th>
                        </tr>


                        <tr>
                            <th>{{ form.capmaxima.label_tag }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.capmaxima }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.capmaxima.errors }}</th>
                        </tr>


                        <tr style="display:none">
                            <th>{{ form.disponivel.label_tag }}</th>
                        </tr>
                        <tr style="display:none">
                            <th style="display:none">{{ form.disponivel }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.disponivel.errors }}</th>
                        </tr>


                        <tr>
                            <th>{{ form.internet.label_tag }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.internet }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.internet.errors }}</th>
                        </tr>


                        <tr>
                            <th>{{ form.projetor.label_tag }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.projetor }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.projetor.errors }}</th>
                        </tr>



                        <tr>
                            <th>{{ form.computador.label_tag }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.computador }}</th>
                        </tr>
                        <tr>
                            <th>{{ form.computador.errors }}</th>
                        </tr>
                    </table>
                </fieldset>
                <button type="submit" class="btn btn-primary">ADICIONAR</button>
            </form>

        </div>
    </div>
</div>

{% endblock salaturma %}