{% extends 'alocar/basealocar.html' %}  {% block salaturma %}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col">

            <h3>Tem certeza que deseja apagar? {{ bloco.bloco }} </h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ form }}
                <button type="submit" class="btn btn-danger">APAGAR</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock salaturma %}