{% extends 'alocar/base.html' %} {% block dashboard %} {% block messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %} {% endblock messages %}

<nav class="navbar navbar-dark primary-color justify-content-between">
    <h4 class="text-white">Lista de Ações dos Usuários</h4>
</nav>

<div class="container">
  <div style="display: None">{{alocar.action_flag}}</div>
    <table class="table table-hover table-sm">
        <thead class="primary-color white-text">
            <tr class="table-active">
                <th>
                    AÇÃO
                </th>
                <th>
                    OBJETO
                </th>
                <th>
                    DATA E HORA
                </th>
                <th>
                    USUÁRIO
                </th>
                <th style="width: 50px">
                    APAGAR
                </th>
            </tr>
        </thead>
        <tbody>
            {% for alocar in logEntry %}
            <tr>
                <td>
                    {% if alocar.action_flag == 1 %}
                        <p>Adicionado</p>
                    {% elif alocar.action_flag == 2 %}
                        <p>Modificado</p>
                    {% elif alocar.action_flag == 3 %}
                        <p>Apagado</p>
                    {% endif %}
                </td>
                <td>
                    {{alocar.object_repr}}
                </td>
                <td>
                    {{alocar.action_time}}
                </td>
                <td>
                    {{alocar.user}}
                </td>

                <td style="text-align: center">
                    <a href="{% url 'alocar:delog' alocar.id %}">
                        <i class="fas fa-trash" style="color:red;"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock dashboard %}