{% extends "admin/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block extrastyle %}

{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">

{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">

                <a class="nav-link" href="{% url 'usuarios:index' %}">Login</a>
</div>

{% endblock %}
{% block title %}Alterar Senha | {{ block.super }}{% endblock title %}

{% block content %}
<h2>Modificar Senha</h2>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nova Senha</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirmar Senha</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Modificar senha">
</fieldset>
</form>
<p>Sua senha não pode ser tão parecida com suas outras informações pessoais.</p>
    <p>Sua senha precisa conter pelo menos 8 caracteres.</p>
    <p>Sua senha não pode ser inteiramente numérica.</p>

{% endblock %}















<div class="loginBox color-text='white'">
			<form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="" value="Confirmar">
			</form>
</div>