{% extends "alocar/login_base.html" %}
{% load crispy_forms_tags %}
{% block logado %}

 <div class="loginBox">
        {% if success %}
        <p>Um e-mail foi enviando para você com mais detalhes de como criar uma nova senha</p>
        {% else %}
        <h2>Informe seu E-mail</h2>
            <form  method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <input type="submit" name="" value="Enviar">
            </form>
        {% endif %}
 </div>

{% endblock logado %}


