{% extends 'alocar/basealocar.html' %}  {% block salaturma %}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <h3>Tem certeza que deseja apagar?</h3>
            <form method="POST">
                {% csrf_token %}
                <h3>Descrição:
                {{ bloco.bloco }}</h3><br>
                <button type="submit" class="btn btn-danger">APAGAR</button>
                <a class="btn btn-outline my-0" href="{% url 'alocar:addbloco' %}">CANCELAR</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock salaturma %}